<table class="table table-borderless table-striped">
    <thead class="text-secondary">
        <tr>
            <th><small>Station, #</small></th>
            <th><small>Type</small></th>
            <th><small>OD, mm</small></th>
            <th><small>ID, mm</small></th>
            <th><small>NW, kg/m</small></th>
            <th><small>Total L., m</small></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Assembly A</td>
            <td>173</td>
            <td>99</td>
            <td>22.1</td>
            <td>10</td>
            <td><i class="fas fa-times-circle fa-lg text-danger"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Assembly B</td>
            <td>166</td>
            <td>82</td>
            <td>22.1</td>
            <td>50</td>
            <td><i class="fas fa-times-circle fa-lg text-danger"></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>DC</td>
            <td>165</td>
            <td>70</td>
            <td>55.5</td>
            <td>150</td>
            <td><i class="fas fa-times-circle fa-lg text-danger"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>DP</td>
            <td>127</td>
            <td>109</td>
            <td>49.3</td>
            <td>2270</td>
            <td><i class="fas fa-times-circle fa-lg text-danger"></i></td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between">
    <button class="btn btn-primary flex-grow-1 shadow-sm">Add</button>
    <button class="btn btn-danger flex-grow-1 mx-2 shadow-sm">Delete Last</button>
    <button class="btn btn-warning flex-grow-1 shadow-sm font-weight-bold">Confirm</button>
</div>