<table class="table table-borderless table-striped">
    <thead class="text-secondary">
        <tr>
            <th><small>Station, #</small></th>
            <th><small>Type</small></th>
            <th><small>OD, mm</small></th>
            <th><small>ID, mm</small></th>
            <th><small>From, m</small></th>
            <th><small>To, m</small></th>
            <th><small>NW, kg/m</small></th>
            <th><small>Hole Size, mm</small></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Surface</td>
            <td>275</td>
            <td>250</td>
            <td>0</td>
            <td>15</td>
            <td>22.1</td>
            <td>350</td>
        </tr>
    </tbody>
</table>
<div class="form-row">
    <div class="col">
        <button class="form-control btn btn-primary shadow-sm">Add</button>
    </div>
    <div class="col">
        <button class="form-control btn btn-danger shadow-sm">Delete Last</button>
    </div>
    <div class="col">
        <button class="form-control btn btn-warning shadow-sm font-weight-bold">Confirm</button>
    </div>    
</div>