<div class="form-row">
    <div class="form-group col">
        <small class="text-secondary">Depth, m</small>
        <input type="text" class="form-control text-center" value="600" readonly />
    </div>
    <div class="form-group col">
        <small class="text-secondary">ECD, kg/m³</small>
        <input type="text" class="form-control text-center" value="2500" readonly />
    </div>
    <div class="form-group col">
        <small class="text-secondary">Gradient, kPa/m</small>
        <input type="text" class="form-control text-center" value="24.52" readonly />
    </div>
</div>
<div class="form-row">
    <div class="col">
        <button class="form-control btn btn-primary shadow-sm">Add</button>
    </div>
    <div class="col">
        <button class="form-control btn btn-warning shadow-sm font-weight-bold">Confirm</button>
    </div>    
</div>