<table class="table table-borderless table-striped">
    <thead class="text-secondary">
        <tr>
            <th><small>Pump, #</small></th>
            <th><small>Liner Size, mm</small></th>
            <th><small>Stroke Length, mm</small></th>
            <th><small>Efficiency, %</small></th>
            <th><small>Source</small></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">1</td>
            <td class="align-middle">127</td>
            <td class="align-middle">312</td>
            <td class="align-middle">96</td>
            <td>
                <select class="form-control">
                    <option>WITS</option>
                </select>
            </td>
            <td>
                <div class="btn-group btn-group-toggle btn-block rounded-lg">
                    <label class="btn btn-primary">
                        <input type="radio" checked />Active
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" />Offline
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle">2</td>
            <td class="align-middle">127</td>
            <td class="align-middle">312</td>
            <td class="align-middle">96</td>
            <td>
                <select class="form-control">
                    <option>WITS</option>
                </select>
            </td>
            <td>
                <div class="btn-group btn-group-toggle btn-block rounded-lg">
                    <label class="btn btn-primary">
                        <input type="radio" checked />Active
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" />Offline
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle">3</td>
            <td class="align-middle">127</td>
            <td class="align-middle">312</td>
            <td class="align-middle">96</td>
            <td>
                <select class="form-control">
                    <option>WITS</option>
                </select>
            </td>
            <td>
                <div class="btn-group btn-group-toggle btn-block rounded-lg">
                    <label class="btn btn-secondary">
                        <input type="radio" />Active
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" checked />Offline
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between">
    <button class="btn btn-primary flex-grow-1 shadow-sm">Add</button>
    <button class="btn btn-danger flex-grow-1 mx-2 shadow-sm">Delete Last</button>
    <button class="btn btn-warning flex-grow-1 shadow-sm font-weight-bold">Confirm</button>
</div>