<div class="form-row">
    <div class="form-group col">
        <small class="text-secondary">Dynamic, kPa</small>
        <input type="text" class="form-control text-center" value="1250" readonly />
    </div>
    <div class="form-group col">
        <small class="text-secondary">Static, kPa</small>
        <input type="text" class="form-control text-center" value="1500" readonly />
    </div>
    <div class="form-group col">
        <small class="text-secondary">Max RPM</small>
        <input type="text" class="form-control text-center" value="150" readonly />
    </div>
</div>
<button class="btn btn-block btn-warning shadow-sm font-weight-bold">Confirm</button>