@page "/brushing-minimal"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brushing Minimal</title>
    <style>
        .handle {
            fill: black;
        }

        .series {
            fill: none;
            stroke: black;
            stroke-width: 1px;
        }

        .zoom {
            cursor: move;
            fill: none;
            pointer-events: all;
        }
    </style>
</head>
<body>
    <svg width="480" height="640"></svg>
    <script src="~/lib/d3/dist/d3.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script>
        const svg = d3.select("svg");

        let context = {
            margin: {
                top: 20,
                right: 20,
                bottom: 20,
                left: 40
            },
            width: 40
        };

        const height = +svg.attr("height") - context.margin.top - context.margin.bottom;

        const periodInSeconds = 3200;
        const end = moment().milliseconds(0).toDate();
        const start = moment(end).subtract(periodInSeconds, "seconds").toDate();

        context.group = svg.append("g")
            .attr("class", "context")
            .attr("transform", `translate(${context.margin.left},${context.margin.top})`);

        context.yScale = d3.scaleTime()
            .domain([start, end])
            .range([0, height]);

        context.yAxis = d3.axisLeft(context.yScale)
            .tickSizeOuter(0);

        context.group.append("g")
            .attr("class", "axis--y")
            .call(context.yAxis);

        let focus = {
            margin: {
                top: 20,
                right: 20,
                bottom: 20,
                left: context.margin.left + context.width + context.margin.right + 40
            }
        };

        focus.width = +svg.attr("width") - focus.margin.left - focus.margin.right;

        focus.group = svg.append("g")
            .attr("class", "focus")
            .attr("transform", `translate(${focus.margin.left},${focus.margin.top})`);

        focus.yScale = d3.scaleTime()
            .domain([start, end])
            .range([0, height]);

        focus.yAxis = d3.axisLeft(focus.yScale);

        focus.group.append("g")
            .attr("class", "axis--y")
            .call(focus.yAxis);

        focus.xScale = d3.scaleLinear()
            .domain([0, 1])
            .range([0, focus.width])

        focus.xAxis = d3.axisBottom(focus.xScale);

        focus.group.append("g")
            .attr("class", "axis--x")
            .attr("transform", `translate(0,${height})`)
            .call(focus.xAxis);

        let series = [];
        for (let seconds = 0; seconds < periodInSeconds; seconds++) {
            let point = {
                timestamp: moment(start).add(seconds, "seconds").toDate(),
                value: Math.random()
            }

            series.push(point);
        }

        const line = d3.line()
            .x(point => focus.xScale(point.value))
            .y(point => focus.yScale(point.timestamp));

        focus.group.append("path")
            .datum(series)
            .attr("class", "series")
            .attr("d", line);

        let brush = d3.brushY()
            .extent([[0, 0], [context.width, height]])
            ////.on("end", brushed);
            .on("brush", brushed);

        context.group.append("g")
            .attr("class", "brush")
            .call(brush)
            ////.call(brush.move, focus.yScale.range());
            .call(brush.move, [500, 600]);

        function brushed() {
            let s = d3.event.selection;
            let domain = s.map(context.yScale.invert, context.yScale);            

            focus.yScale.domain(domain);

            focus.group.select(".series")
                .attr("d", line);

            focus.group.select(".axis--y")
                .call(focus.yAxis);
        }
    </script>
</body>
</html>
