@page "/multiple-tooltips"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multiple Tooltips</title>
    <link href="~/css/_multiple-tooltips.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="column flow"></div>
        <div class="column pressure"></div>
        <div class="column mw"></div>
        <div class="column chokes"></div>
    </div>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/d3/dist/d3.js"></script>
    <script src="~/js/_data.js"></script>
    <script src="~/js/_chart.js"></script>
    <script src="~/js/_tooltip.js"></script>
    <script src="~/js/_multiple-tooltips.js"></script>
</body>
</html>
