@page "/svg"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SVG</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        svg {
            border: 1px solid black;
        }

        text {
            font-style: italic;
            font-family: Arial, sans-serif;
            font-size: 22px;
            color: #37043f;
        }
    </style>
</head>
<body>
    <svg width="320" height="240">
        <g transform="translate(40,40)">
            <text text-anchor="middle">
                <tspan>-1821</tspan>
                <tspan x="0" dy="1.5rem">lit</tspan>
            </text>
        </g>
    </svg>
</body>
</html>
