<div class="indicator" id="well-depth">
    <span class="indicator-title">Well Depth</span>
    <span class="indicator-value">1.18</span>
    <span class="indicator-unit">m</span>
    <img class="indicator-icon" src="~/img/alaram_icon_disabled.png" />
</div>
<div class="indicator alarmed" id="bit-depth">
    <span class="indicator-title">Bit Depth</span>
    <span class="indicator-value">1.18</span>
    <span class="indicator-unit">m</span>
    <img class="indicator-icon" src="~/img/alarm_icon_enabled.png" />
    <div class="alarm">
        <span>1</span>
        <span>1.15</span>
    </div>
</div>
<div class="indicator" id="pump-rate">
    <span class="indicator-title">Pump Rate</span>
    <span class="indicator-value flow-in-value">1.821</span>
    <span class="indicator-unit">m³/min</span>
    <img class="indicator-icon" src="~/img/alaram_icon_disabled.png" />
</div>
<div class="indicator" id="sbp">
    <span class="indicator-title">SBP</span>
    <span class="indicator-value pressure-sbp-value">101.3</span>
    <span class="indicator-unit">kPa</span>
    <img class="indicator-icon" src="~/img/alaram_icon_disabled.png" />
</div>
<div class="indicator" id="bhp">
    <span class="indicator-title">BHP</span>
    <span class="indicator-value pressure-bhp-value">116.3</span>
    <span class="indicator-unit">kPa</span>
    <img class="indicator-icon" src="~/img/alaram_icon_disabled.png" />
</div>
<div class="indicator" id="target-sbp">
    <span class="indicator-title">Target SBP</span>
    <span class="indicator-value">1000.0</span>
    <span class="indicator-unit">kPa</span>
    <img class="indicator-icon" src="~/img/alarm_icon_enabled.png" />
    <div class="alarm">
        <span>0</span>
        <span>1500</span>
    </div>
</div>
<div class="indicator" id="date">
    <span class="indicator-title">Date</span>
    <span class="indicator-value date-value">2019-12-23</span>
    <span class="indicator-unit">YYYY-MM-DD</span>
</div>