<nav class="navbar">
    <img class="logo" src="~/img/logo.png" />
    <span style="font-size: 28px">Operation Mode: Drilling</span>
    <div class="icons">
        <img src="~/img/Model_passed_icon.png" />
        <img src="~/img/manifoldOff_icon.png" />
        <img src="~/img/ECU_Icon_gray.png" />
        <img src="~/img/WITS_Status_icon_green.png" />
    </div>
</nav>