<nav class="sidebar">
    <div>
        <img src="~/img/wits_icon_disabled.png" />
        <span style="color: #bdbdbd">Well<br />List</span>
    </div>
    <div>        
        @*<img src="~/img/well_info_icon_enabled.png" />
        <span style="color: #1474b0">Well<br />Info</span>*@
        <img src="~/img/well_info_icon_disabled.png" />
        <span style="color: #bdbdbd">Well<br />Info</span>
    </div>
    <div>
        <img src="~/img/well_data_icon_disabled.png" />
        <span style="color: #bdbdbd">Well<br />Data</span>
    </div>
    <div>
        <img src="~/img/control_screen_icon_enabled.png" />
        <span style="color: #1474b0">Control<br />Screen</span>
        @*<img src="~/img/control_screen_icon_disabled.png" />        
        <span style="color: #bdbdbd">Control<br />Screen</span>*@
    </div>
</nav>