<div class="row">
    <div class="col">
        <div class="heading">
            <img src="~/img/info_squared.png" />
            <div class="helper">
                <span style="color: #fff">Well Info</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="job-number" value="OPLA-10001" readonly>
        <label for="job-number">OPLA Job Number</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="well-name" value="Well#1" readonly>
        <label for="well-name">Well Name</label>
    </div>
    <div class="col">
        <input type="text" id="field-name" value="Field#1" readonly>
        <label for="field-name">Field Name</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="operator-company" readonly>
        <label for="operator-company">Operator Company</label>
    </div>
    <div class="col">
        <input type="text" id="rig-contractor" readonly>
        <label for="rig-contractor">Rig Contractor</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="state" readonly>
        <label for="state">Province/State</label>
    </div>
    <div class="col">
        <input type="text" id="country" readonly>
        <label for="country">Country</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="longitude" value="1" readonly>
        <label for="longitude">Longitude</label>
    </div>
    <div class="col">
        <input type="text" id="latitude" value="1" readonly>
        <label for="latitude">Latitude</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" id="time-zone" value="UTC -07:00 Mountain Time Zone" readonly>
        <label for="time-zone">Time Zone</label>
    </div>
</div>